* {
font-family:sans-serif;
}

body {
background:#fff;
text-align:center;
margin:0;
}

.header {
width:auto;
background:#000;
margin: 0 auto;
padding: 5px
}

.header div {
width:750px;
text-align:left;
margin: 0 auto
}

.header a {
color:#fff;
font-size:0.89em;
text-decoration:none;
padding:0 5px;
}

.header a:hover {
color:#ccc;
text-decoration:underline;
}

.ContentInfo h1 {
color:#000;
display:block;
font-size:36px;
letter-spacing:-2px;
float:none;
text-align:left;
margin:0;
}

.PageInfo p {
text-align:left;
line-height:30px;
border-top:1px solid #ccc;
margin:0;
padding:0;
}

.PageInfo {
border-bottom:1px solid #ccc;
color:#888;
font-weight:bold;
line-height:30px;
}

.qlist,
.nonum,
.qlist * {
list-style-type:none;
margin:0;
padding:0;
}

.qlist {
float:left;
width:100%;
}

.qlist li {
border-bottom:1px solid #ccc;
}

.date {
color:#888;
font-style:italic;
text-align:right;
font-size:0.89em;
border-bottom:none !important;
}

.qitem {
font-size:14px;
line-height:30px;
overflow:hidden;
}

.qitem a,.cat a,.top10 a {
color:#000;
display:block;
font-weight:bold;
text-decoration:none;
width:100%;
}

.qitem a:hover,.cat a:hover,.top10 a:hover {
background:HoneyDew;
text-decoration:none;
}

.pic,.ansnum {
font-size:0.89em;
font-weight:normal;
}

.ansnum {
color:#888;
padding-left:5px;
}

.pic {
color:DarkOrange;
}

.pagination {
text-align:right;
padding:5px 0;
}

.pagination a,.footer a,.tot_qs {
color:#888;
text-decoration:none;
}

.pagination a:hover,.pagination .current,.footer a:hover {
color:#000;
}

.georg {
font-family:Georgia,serif;
}

.footer {
text-align:center;
margin:5px;
}

.cat a {
width:auto;
}

.cat {
padding:10px 0 !important;
}

cite {
color:#888;
font-size:95%;
}

.w350px {
width:350px;
}

.qtitle {
font-family:Georgia, serif;
font-size:32px;
font-style:normal;
font-weight:normal;
line-height:32px;
padding:35px 0 40px;
}

.top10 li {
border-bottom:1px solid #ccc;
line-height:16px;
padding:3px 0;
}

.red {
color:red;
}

.green {
color:green;
}

.tool {
border-top:1px solid #ccc;
font-size:0.75em;
margin-top:40px;
padding-top:5px;
}

.tool input {
text-align:left;
background:#fff;
border:0;
cursor:pointer
}

.answ {
border-left:1px dotted #000;
clear:both
}

.answ_head {
background:HoneyDew;
border-top:1px dotted black;
padding:3px 5px;
}

.answ_body {
line-height:120%;
padding:0 5px;
}

.qtitle:first-letter {
font-size:130%;
line-height:130%;
}

.notice {
font-size:0.75em;
color:#888;
}

.notice a {
color:#000;
text-decoration:none;
}

.new_index a {
text-decoration:none;
font-family:Georgia,serif;
color:#888;
}

.footer a,.tot_qs,.top10 li a {
font-size:0.89em;
}

.tool a:hover,.notice a:hover,.new_index a:hover,.new_index .em, .h1:hover {
text-decoration:underline;
}

.h1 {
color:#000;
text-decoration:none
}

img {
border: 0;
}